.m-portlet .m-form.m-form--fit {
    & > .m-portlet__body{
        padding-left: 2.2rem;
        padding-right: 2.2rem;
        .row{
            [class*=col-]{
                .form-group.m-form__group{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}