/*
Author: Revan Pratama
Email: revanp0@gmail.com
*/

/*-----------------------------------------
	1. General
-------------------------------------------*/
html, body {
  font-family: 'Raleway', sans-serif;
  color: #1c2330;        
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  color: #1c2330;
  line-height: 1.3;
  margin: 0px;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
h5,
h6 {
  font-weight: 600;
}



img{
	max-width: 100%;
	height: auto;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;		
}
a{
  color: #1c303e;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;	
}

a:active, a:hover, a:focus {
    outline: 0 none;
    text-decoration: none;
}
button{
  background: none;
  outline: 0 none;
  border: none;
}

iframe{
  border: 0px;
}
input, textarea{
  outline: none;
  max-width: 100%;
}


::-moz-selection {
    background: #1c2330;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #1c2330;
    color: #fff;
    text-shadow: none;
}



/*-----------------------------------------
	2. Align Holders
-------------------------------------------*/
.left-holder{
	text-align: left;
}
.right-holder{
	text-align: right;
}
.center-holder{
	text-align: center;
}



/*-----------------------------------------
  3. Modals
-------------------------------------------*/
.modal {
  text-align: center;
  padding: 0!important;
  border-radius: 10px;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
  border-radius: 10px;  
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}





/*-----------------------------------------
  4. Margins, Paddings
-------------------------------------------*/

/*------------------
    Margin Left
--------------------*/
.ml-15{
  margin-left: 15px;
}

/*------------------
    Margin top
--------------------*/
.mt-0 { margin-top: 0 !important}
.mt-5 { margin-top: 5px}
.mt-10 { margin-top: 10px }
.mt-15 { margin-top: 15px }
.mt-20 { margin-top: 20px }
.mt-25 { margin-top: 25px }
.mt-30 { margin-top: 30px }
.mt-35 { margin-top: 35px }
.mt-40 { margin-top: 40px }
.mt-45 { margin-top: 45px }
.mt-50 { margin-top: 50px }
.mt-55 { margin-top: 55px }
.mt-60 { margin-top: 60px }
.mt-65 { margin-top: 65px }
.mt-70 { margin-top: 70px }
.mt-75 { margin-top: 75px }
.mt-80 { margin-top: 80px }
.mt-85 { margin-top: 85px }
.mt-90 { margin-top: 90px }
.mt-95 { margin-top: 95px }
.mt-100 { margin-top: 100px }
.mt-105 { margin-top: 105px }
.mt-110 { margin-top: 110px }
.mt-115 { margin-top: 115px }
.mt-120 { margin-top: 120px }
.mt-125 { margin-top: 125px }
.mt-130 { margin-top: 130px }
.mt-135 { margin-top: 135px }
.mt-140 { margin-top: 140px }
.mt-145 { margin-top: 145px }
.mt-150 { margin-top: 150px }

/*------------------
    Margin bottom
--------------------*/
.mb-0 { margin-bottom: 0 }
.mb-10 { margin-bottom: 10px }
.mb-15 { margin-bottom: 15px }
.mb-20 { margin-bottom: 20px }
.mb-25 { margin-bottom: 25px }
.mb-30 { margin-bottom: 30px }
.mb-35 { margin-bottom: 35px }
.mb-40 { margin-bottom: 40px }
.mb-45 { margin-bottom: 45px }
.mb-50 { margin-bottom: 50px }
.mb-55 { margin-bottom: 55px }
.mb-60 { margin-bottom: 60px }
.mb-65 { margin-bottom: 65px }
.mb-70 { margin-bottom: 70px }
.mb-75 { margin-bottom: 75px }
.mb-80 { margin-bottom: 80px }
.mb-85 { margin-bottom: 85px }
.mb-90 { margin-bottom: 90px }
.mb-95 { margin-bottom: 95px }
.mb-100 { margin-bottom: 100px }
.mb-105 { margin-bottom: 105px }
.mb-110 { margin-bottom: 110px }
.mb-115 { margin-bottom: 115px }
.mb-120 { margin-bottom: 120px }
.mb-125 { margin-bottom: 125px }
.mb-130 { margin-bottom: 130px }
.mb-135 { margin-bottom: 135px }
.mb-140 { margin-bottom: 140px }
.mb-145 { margin-bottom: 145px }
.mb-150 { margin-bottom: 150px }


/*------------------
    Margin right
--------------------*/
.mr-20-md{
  margin-right: 20px;
}
@media screen and (max-width:767px) {
  .mr-30-md{
    margin-right: 0px;
  } 
}


/*------------------
    Paddings
--------------------*/
.pb-0{
  padding-bottom: 0px !important;
}
.pt-0{
  padding-top: 0px !important;
}
.pl-0{
  padding-left: 0px;
}
.pr-0{
  padding-right: 0px;
}



/*-----------------------------------------
  5. Owl Carousel Dots
-------------------------------------------*/
.custom-dot {
  display: inline-block;
  z-index: 1;
  margin-top: 30px;
}
.custom-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  background: #cecece;
  cursor: pointer;
  display: block;
  border: 1px solid #fff;
  -webkit-backface-visibility: visible;
  border-radius: 30px;  
  -webkit-transition-duration: .3s;
  transition-duration: .3s;      
}
.custom-dot span:hover {
    background: #aaa;
    -webkit-backface-visibility: visible;
    border-radius: 30px;
}
.custom-dot.active span{
  width: 12px;
  height: 12px;
  background: #2578ff;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;    
}

.owl-nav i{
    color: #252525;  
}
.owl-nav .owl-prev {
    color: #252525;
    font-size: 43px;
    left: 0%;
    line-height: 40px;
    /*position: absolute;*/
    text-align: center;
    /*top: 40%;*/
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 50px;
    height: 50px;
    background: #fff !important;  
    -webkit-box-shadow: 0px 5px 28px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 5px 28px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 5px 28px 0px rgba(50, 50, 50, 0.1);    
}

.owl-nav .owl-next {
    color: #252525;
    font-size: 43px;
    /*right: -75px;*/
    line-height: 40px;
    /*position: absolute;*/
    text-align: center;
    /*top: 40%;*/
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 50px;
    height: 50px;
    background: #fff !important;  
    -webkit-box-shadow: 0px 5px 28px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 5px 28px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 5px 28px 0px rgba(50, 50, 50, 0.1);    
}





/*-----------------------------------------
  6. Clearfix
-------------------------------------------*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*-----------------------------------------
  7. Loading
-------------------------------------------*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}

.boxLoading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.boxLoading:before {
  content: '';
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
.boxLoading:after {
  content: '';
  width: 50px;
  height: 50px;
  background: #000;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

/*-----------------------------------------
  8. Whatsapp Button
-------------------------------------------*/

.whatsapp-button{
  font-size: 13px;
  font-weight: 600;
  line-height: 26px;
  padding: 6px;
  text-decoration: none;
  position: fixed;
  bottom: 80px;
  right: 10px;
  display: none;
  background: #2578ff;
  width: 40px;
  z-index: 9999;
  outline: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
      height: 40px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}