/*
Author: Revan Pratama
Email: revanp0@gmail.com
*/
body{
  overflow-x: hidden;

}
.double-buttons .active{
	color: white !important;
	background-color: #2578ff !important;
	border: 2px solid #2578ff !important;
}

.active{
	color: white !important;
}

/*li{
	list-style: none;
}*/

.text-white{
	color : #e0e0e0 !important;
}
a.btn-custom{
	color: #e0e0e0
}
.btn-custom {
  color: #e0e0e0 ;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.btn-custom:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #e0e0e0 ;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.btn-custom:hover:after {
  width: 100%;
  left: 0;
}

a.btn-custom-black{
	color: black
}
.btn-custom-black {
  color: black ;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
  transition: .3s;
  border-bottom: 2px solid transparent;
}
/*.btn-custom-black:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black ;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.btn-custom-black:hover:after {
  width: 100%;
  left: 0;
}*/

.btn-custom-active{
  background-color: white;
  border-radius: 10px 10px 0px 0px;
	/* border-bottom: 2px solid black; */
}
.btn-custom-active-2{
   border-bottom: 2px solid black; 
}

@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}
/* width */
::-webkit-scrollbar {
    width: 6.66px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
    padding: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #757575   ;
    border-radius: 100px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e  ;
}

.banner{
  width: 100%;
  height: 572px;
  background-image: url(../img/iot.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*position: absolute;*/
}

/*.thumbnail{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
}*/

.thumbnail{
  height: 400px;
	border: none !important;
	margin: 10px;
	transform: scale(1);
}


@media only screen and (max-width: 1366px) {
    .thumbnail{
		height: 400px;
		border: none !important;
		margin: 10px;
		transform: scale(1.1);
	}

	.frame{
		border: 2px solid white;
		margin: 5%;
		padding: 1%;
		transform: scale(0.8);
	}

	.frame p{
	     width: 90%;
	     height: 100px;
	     /*white-space: nowrap;*/
	     overflow: hidden;
	     text-overflow: ellipsis;
	}

	.frame a{
		color: white;
	}

	.project-item img{

	}
}




.thumbnail a{

}

.thumbnail p{
     width: 90%;
     /*white-space: nowrap;*/
     overflow: hidden;
     text-overflow: ellipsis;
}


.btn-primary{
	background-color: transparent;
	color: black;
	border: 2px solid black !important;
  transition: .2s
}

.btn-primary-white{
  background-color: transparent;
  color: white;
  border: 2px solid white !important;
}

.btn-primary:hover, .btn-primary-white:hover{
  color: white;
	background-color: #2578ff !important;
	border: 2px solid #2578ff !important;
}


fieldset{
	border: 3px solid black !important;
	border-radius: 3px;
	padding-right: 4%;
	width: 100% !important;
}

legend{
	width: auto !important;
	padding: 0px 20px;
	text-align: center !important;
	border: none !important; /*
	border-left: 2px solid black !important;
	border-top: none !important;
	border-bottom: none !important;
	border-right: 2px solid black !important;*/
	font-size: 30px;
  margin: 0 auto;
}


.frame{
	border: 2px solid white;
	margin: 5%;
	padding: 1%;
}

.frame p{
     width: 90%;
     height: 100px;
     /*white-space: nowrap;*/
     overflow: hidden;
     text-overflow: ellipsis;
}

.frame a{
	color: white;
	border: 2px solid white !important;
}


.input-custom-group{
	margin: 1% 0;
	padding: 1% 0;
}

.input-custom-group input[type="text"],  .input-custom-group input[type="text"], .input-custom-group textarea{
	width : 100% !important;
	background-color: transparent !important;
	border: .5px solid #888 !important;
	font-size: 14px !important;
	padding: 1.5% 3% !important;
	border-radius: 2px !important;
	transition: .2s !important;

}

.input-custom-group input[type="email"]{
	width : 100% !important;
	background-color: transparent !important;
	border: .5px solid #888 !important;
	font-size: 14px !important;
	padding: 2.8% 3% !important;
	border-radius: 2px !important;
	transition: .2s !important;
}

.input-custom-group input:focus, .input-custom-group textarea:focus{
	background-color: #f1f1f1 !important;
}

.input-custom-group label{
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}


.double-buttons {
    text-align: center;
    position: relative
}

.double-button {
    padding: 13px 20px;
    text-transform: uppercase;
    text-align: center;
    min-width: 175px;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    border: 1px solid #999;
    text-decoration: none;
}

.double-button {
    min-width: 158px;
}

.double-button:hover {
    text-decoration: none;
}

.button_or {
    position: absolute;
    display: block;
    height: 26px;
    line-height: 23px;
    width: 26px;
    text-align: center;
    top: 50%;
    left: 50.2%;
    margin: -14px 0 0 -15px;
    background: #2578ff;
    color: white;
    /*color: #666;*/
    border-radius: 100px;
    font-size: 10px;
    border: 2px solid #2578ff;
    /*font-style: italic;*/
    font-weight: 600;
    z-index: 11;
}

.double-button-1 {/*
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;*/
    /*border-right: none;*/
    margin-right: 0;
    /*transform: skew(-45deg);*/
}

.double-button-2 {/*
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;*/
    /*border-left: none;*/
    margin-left: 0;

    /*transform: skew(-45deg);*/
}

.double-button:hover, .double-button:hover {
    background: #42a0bd;
    color: #fff;
}

#img-1{
  width: 100%;
  height: auto;
  color: white;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#img-2{
  width: 100%;
  height: auto;
  color: white;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#img-3{
  width: 100%;
  height: auto;
  color: white;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

.project-item h3{
  width: 80%;
}
@media screen and (max-width: 1400px) {
    .project-item img{
      /*transform: scale(.8);*/
      width: 100% !important;
      margin: 0 auto;
    }
    #banner-size{
      height: 1000px;
    }
}

@media screen and (max-width: 992px) {
    .project-item img{
      width: 90% !important;
      margin: 0 auto;
    }

    #banner-size{
      height: 700px;
    }
}

@media screen and (max-width: 768px) {
    .project-item img{
      width: 80% !important;
      margin: 0 auto;
    }
}

.text-center{
  text-align: center !important;
}

.panel-heading:hover{
  transition: 1s;
  text-decoration: underline;
}

.caption p{
  color: grey;
}

.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}


.animation-delay-100 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animation-delay-200 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animation-delay-400 {
  -webkit-animation-delay: 2s;
  animation-delay: 4s;
}

.kenburn-left{
  animation: kenburns-l 100s infinite linear;
}

@keyframes kenburns-l {
  90% {
    transform: scale(1.5) rotate(0.04deg) translateX(90px);
  }
}

.kenburn-right{
  animation: kenburns-r 100s infinite linear;
}

@keyframes kenburns-r {
  50% {
    transform: scale(1.5) rotate(0.04deg) translateX(-90px);
  }
}

.kenburn{
  animation: kenburns 50s infinite linear;

}

@keyframes kenburns {
  50% {
    transform: scale(1) ;
  }
}

#title-content{
  /*animation: title-content 50s infinite linear;*/
}

@keyframes title-content {
  50% {
    transform: scale(1.4) ;
  }
}


.lead{
  font-size: 18px !important;
}

.image-gallery{
  /*border: 5px solid transparent;*/
  filter: brightness(95%);
  padding: 0; margin: 0px;
  transition: .5s;
  width: 100%;
  height: 100%;
}

.overlay-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 35%;
  /*opacity: 0;*/
  transition: .5s;
  background-color: rgba(0,0,0,0.8);
  border: none;
  transform: translateX(-101%);
  padding: 0px; margin: 0px;
}

.content-item:hover .overlay-slide {
  opacity: 1;
  transform: translateX(0%);
}

.content-item:hover .image-gallery-slide {
  transform: translateX(5%);
  filter: brightness(75%);
}

.text{
  color: white;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1.5px solid #2578ff;
}

.gray{
  filter: grayscale(100%);
}

.gray:hover{
  filter: grayscale(0%);
}


.hide{
  display: none;
}


.center{
  height: 80px;
  position: relative;
  border-radius: 4px;
}
.center p{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-2{
  height: 150px;
  position: relative;
  border-radius: 4px;
}
.center-2 img{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.section-heading h2, 
.section-heading-left h2{
  font-size:33px;
  font-weight:300;
  color:#3b3b3b;
  line-height:130%;
}

.error h1,
.error h2,
.error h4{
  -webkit-text-fill-color:transparent;
}

.section-block{
  padding:30px 0;
  background-color:#fff
}

.section-block-grey{
  padding:30px 0;
  background-color:#f7f7f7
}

.section-block-parallax{
  background-size:cover;
  background-attachment:fixed;
  background-position:50% 50%;
  padding:70px 0
}

.partner-section{
  background-color:#fff;
  padding:60px 0
}

.partner-section-grey{
  padding:40px 0;
  background:#f7f7f7
}

.section-heading h2:after,
.section-heading-left h2:after{
  padding-top:15px;
  content:'';
  display:block;
  border-bottom:2px solid #2578ff;
  width:100px
}

.section-heading{
  margin-bottom:70px
}

.section-heading h2{
  margin-bottom:10px
}

.section-heading h2:after{
  margin:auto
}

.section-heading-left h2{
  margin-bottom:10px
}

.section-heading-left p{
  font-size:15px;
  font-weight:500;
  color:#979797;
  line-height:160%;
  padding-top:10px;
  margin-bottom:0
}

.section-heading h3{
  font-size:25px;
  font-weight:300;
  color:#3b3b3b;
  line-height:130%;
  margin-bottom:10px
}

.section-heading h3:after{
  content:'';
  display:block;
  border-bottom:2px solid #2578ff;
  width:100px;
  margin:auto;
  padding-top:15px
}

.section-heading p{
  font-size:15px;
  font-weight:500;
  color:#979797;
  line-height:160%;
  padding-top:10px;
  margin-bottom:0
}

.section-heading span{
  display:block;
  font-size:15px;
  font-weight:600;
  color:#2578ff;
  line-height:160%
}

.section-heading-white h2{
  font-size:33px;
  font-weight:300;
  color:#fff;
  line-height:130%;
  margin-bottom:10px
}

.section-heading-white h2:after{
  content:'';
  display:block;
  border-bottom:2px solid #2578ff;
  width:100px;
  padding-top:15px;
  margin:auto
}

.section-heading-white p{
  font-size:15px;
  font-weight:500;
  color:#fff;
  line-height:180%;
  padding-top:10px;
  margin-bottom:0
}

.section-heading-white-left h2{
  font-size:33px;
  font-weight:300;
  text-align:left;
  color:#fff;
  line-height:130%;
  margin-bottom:10px
}

.section-heading-white-left h2:after{
  content:'';
  display:block;
  border-bottom:2px solid #2578ff;
  width:100px;
  padding-top:15px
}

.section-heading-white-left p{
  font-size:15px;
  font-weight:500;
  text-align:left;
  color:#fff;
  line-height:180%;
  padding-top:10px;
  margin-bottom:0
}

#preloader,
.page-title h1,
.page-title ul,
.spinner{
  text-align:center
}

.page-title{
  padding:150px 0 100px;
  background-color:#f7f7f7;
  background-size:cover;
  background-position:top
}

.page-title h1{
  font-size:40px;
  font-weight:300;
  color:#fff
}

.page-title ul{
  padding-top:10px;
  padding-left:0
}

.page-title ul li{
  display:inline-block
}

.heading-sm h3:after,
.heading-sm h4:after,
.heading-sm h5:after{
  display:block;
  border-bottom:2px solid #2578ff;
  padding-top:5px
}

.page-title ul li a{
  font-size:15px;
  font-weight:500;
  color:#fff
}

.page-title ul li:after{
  content:" / ";
  font-family:FontAwesome;
  font-size:15px;
  font-weight:900;
  color:#fff;
  margin:0 5px
}

.page-title ul li:last-child:after{
  content:none
}

.dropdown-menu:after,
.heading-sm h3:after,
.heading-sm h4:after,
.heading-sm h5:after{
  content:''
}

.page-title ul li a:hover{
  color:#2578ff
}

.block-heading h3{
  font-size:28px;
  font-weight:300;
  color:#3b3b3b;
  line-height:130%;
  margin-bottom:10px;
  margin-top:30px
}

.heading-sm h3,
.heading-sm h4,
.heading-sm h5{
  color:#3b3b3b;
  line-height:150%;
  margin-bottom:20px;
  margin-top:30px
}

.heading-sm h3{
  font-size:29px;
  font-weight:300
}

.heading-sm h3:after{
  width:100px
}

.heading-sm h4{
  font-size:22px;
  font-weight:500
}

.heading-sm h4:after{
  width:100px
}

.heading-sm h5{
  font-size:20px;
  font-weight:500
}

.heading-sm h5:after{
  width:70px
}

.heading-sm p{
  font-size:15px;
  font-weight:500;
  color:#979797;
  line-height:180%;
  margin-bottom:15px
}

#preloader{
  position:fixed;
  left:0;
  top:0;
  z-index:99999;
  width:100%;
  height:100%;
  overflow:visible;
  background:#fff;
  display:table
}

.spinner{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:auto 0;
  width:70px
}

.spinner > div{
  width:18px;
  height:18px;
  background-color:#2578ff;
  border-radius:100%;
  display:inline-block;
  -webkit-animation:sk-bouncedelay 1.4s infinite ease-in-out both;
  animation:sk-bouncedelay 1.4s infinite ease-in-out both
}

.spinner .bounce1{
  -webkit-animation-delay:-.32s;
  animation-delay:-.32s
}

.spinner .bounce2{
  -webkit-animation-delay:-.16s;
  animation-delay:-.16s
}

@-webkit-keyframes sk-bouncedelay{
  0%,100%,80%{
    -webkit-transform:scale(0)
  }
  40%{
    -webkit-transform:scale(1)
  }
}

@keyframes sk-bouncedelay{
  0%,100%,80%{
    -webkit-transform:scale(0);
    transform:scale(0)
  }
  40%{
    -webkit-transform:scale(1);
    transform:scale(1)
  }
}

.team-img ul,
.video-box-button{
  transform:translate(-50%,-50%)
}

.affix{
  top:0;
  width:100%;
  z-index:9999999
}

#bs-example-navbar-collapse-1{padding:0}.navbar-nav{margin:0}.navbar-header-custom{background:0 0;padding:15px 0}.navbar-logo img{max-width:100%;margin-left:15px;max-height:50px}.navbar-custom{background:0 0;border:none;border-radius:0;padding:0;margin-bottom:0;-webkit-transition-duration:.5s;transition-duration:.5s}.navbar-custom .navbar-links-custom li{padding:7.5px 5px}.navbar-custom .navbar-links-custom li a{font-size:12px;font-weight:600;text-transform:uppercase;letter-spacing:.5px;color:rgba(255,255,255,.67);-webkit-transition-duration:.3s;transition-duration:.3s}.navbar-custom .navbar-links-custom li a i{font-size:9px;font-weight:400}.navbar-custom .navbar-links-custom li a:hover{color:#fff}.navbar-custom .navbar-toggle .icon-bar{background-color:#fff}@media screen and (max-width:767px){.page-title h1,.page-title ul{text-align:center}.navbar-custom .navbar-links-custom li{font-size:13px;font-weight:700;-webkit-transition-duration:.3s;transition-duration:.3s;border-bottom:1px solid #555;padding:0!important;margin:0}.navbar-custom .navbar-links-custom li:last-child{border-bottom:none}.navbar-custom .navbar-links-custom li a{margin:0;padding:15px}.navbar-default .navbar-links-custom .open .dropdown-menu>li>a{color:#fff;font-size:12px;padding:10px 0 10px 30px}}.dropdown-menu{background-color:rgba(0,0,0,.85);border-radius:5px!important;padding:5px}.dropdown-menu:after{position:absolute;top:0;left:20%;width:0;height:0;border:7px solid transparent;border-bottom-color:rgba(28,35,48,.85);border-top:0;margin-left:-7px;margin-top:-7px}.navbar-links-custom .dropdown ul{border:none;margin-left:5px;margin-top:7px;-webkit-box-shadow:0 5px 9px 0 rgba(50,50,50,.15);-moz-box-shadow:0 5px 9px 0 rgba(50,50,50,.15);box-shadow:0 5px 9px 0 rgba(50,50,50,.15)}.navbar-links-custom .dropdown ul li{padding:0;border:none}.navbar-links-custom .dropdown ul li a{border-radius:5px;font-weight:600;padding:12px 15px;width:180px;text-transform:none;text-align:left;color:#fff}.navbar-links-custom .dropdown ul li a:hover{background:#fff;color:#3b3b3b!important}.navbar-links-custom .dropdown .dropdown-toggle:after{content:"\f107";font-family:FontAwesome;padding-left:6px}.active-link a{color:#fff!important}@media screen and (max-width:767px){.navbar-links-custom .dropdown ul li a:hover{color:#2578ff!important}}.menu-icon{border:none;background:0 0}.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{background-color:transparent}@media (max-width:991px){.navbar-custom{background:rgba(0,0,0,.8)}.dropdown-menu:after{border:none}.navbar-custom .navbar-links-custom{background:rgba(0,0,0,1);padding:0!important;margin:0}.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse{max-height:100%}.navbar-header{float:none}.navbar-left,.navbar-nav,.navbar-right{float:none!important}.navbar-toggle{display:block}.navbar-collapse{border-top:1px solid transparent;box-shadow:inset 0 1px 0 rgba(255,255,255,.1)}.navbar-fixed-top{top:0;border-width:0 0 1px}.navbar-collapse.collapse{display:none!important}.navbar-nav{margin-top:7.5px}.navbar-nav>li{float:none}.navbar-nav>li>a{padding-top:10px;padding-bottom:10px}.collapse.in{display:block!important}.navbar-nav .open .dropdown-menu{position:static;float:none;width:auto;margin-top:0;background-color:transparent;border:0;-webkit-box-shadow:none;box-shadow:none}.navbar-links-custom{padding-bottom:5px}.navbar-custom .navbar-links-custom li{padding:5px 0 0 5px}}.article-list a,.button-tag,.button-xs,.services-box a{display:inline-block}.full-width,.services-box img{width:100%}.article-box{border:3px solid #f7f7f7;background:#fff;border-radius:5px;text-align:center;padding:30px;margin:15px 0;-webkit-transition-duration:.3s;transition-duration:.3s}.article-box:hover{border-color:#5ab1fb}.article-box i{font-size:55px;color:#2578ff}.article-box h4{font-size:18px;font-weight:500;color:#252525;margin:30px 0 25px}.article-box p{font-size:14px;font-weight:500;line-height:200%;color:#979797;margin-bottom:30px}.article-box a{font-size:14px;font-weight:600;color:#2578ff}.article-box a i{font-size:14px;color:#2578ff;padding-left:5px;-webkit-transition-duration:.3s;transition-duration:.3s}.article-box a:hover i{padding-left:12px}.article-list{background:#f7f7f7;border-radius:5px;padding:30px;margin:15px 0}.article-list h3{font-size:20px;font-weight:500;line-height:150%;color:#252525}.article-list ul{padding:0;margin-bottom:0;margin-top:20px}.article-list ul li{list-style-type:none;color:#979797;font-size:15px;font-weight:500;padding:5px 0}.article-list ul li i{color:#2578ff;font-size:13px;padding-right:15px}.article-list a{font-size:14px;font-weight:600;color:#2578ff;background:#fff;border-radius:5px;padding:15px 30px}.article-list a i{font-size:14px;color:#2578ff;padding-left:5px;-webkit-transition-duration:.3s;transition-duration:.3s}.article-list a:hover i{padding-left:12px}.countup-box{text-align:center;background:rgba(255,255,255,.1);border-radius:5px;padding:15px;margin:15px 0}@media screen and (max-width:767px){.countup-box{margin:20px 0}}.countup-box h4{font-size:40px;font-weight:500;color:#fff;line-height:130%;margin:10px 0}.countup-box h4:after{content:'+'}.countup-box i{font-size:50px;color:#2578ff}.countup-box p{font-size:18px;font-weight:400;color:#fff;line-height:130%}.services-box{background:#fff;border-radius:5px;overflow:hidden;border:1px solid #eee;margin:15px 0}.services-box-inner{padding:30px}.services-box h4{font-size:21px;font-weight:500;color:#1c2330;margin:5px 0 15px}.services-box p{font-size:14px;font-weight:500;line-height:180%;color:#979797;margin-bottom:20px}.services-box a{font-size:14px;font-weight:600;float: right; border-radius:5px;color:#1c2330;padding:10px 15px}.primary-button,.rounded-border{border-radius:5px}.services-box a i{font-size:14px;color:#1c2330;padding-left:5px;-webkit-transition-duration:.3s;transition-duration:.3s}.services-box a:hover{background:#2578ff;color:#fff}.services-box a:hover i{color:#fff}.text-content p{font-size:15px;font-weight:500;color:#979797;line-height:180%;margin-bottom:15px}.shadow-primary{-webkit-box-shadow:7px 9px 22px 0 rgba(50,50,50,.3);-moz-box-shadow:7px 9px 22px 0 rgba(50,50,50,.3);box-shadow:7px 9px 22px 0 rgba(50,50,50,.3)}.button-tag{font-size:12px;font-weight:500;margin:5px 5px 5px 0;padding:5px 10px!important}.button-xs{font-size:13px;font-weight:500}.button-md,.button-sm{font-weight:600;display:inline-block}.button-xs i{font-size:15px;padding-left:7px}.button-sm{font-size:14px}.button-sm i{font-size:17px;padding-left:7px}.button-md{font-size:16px}.button-lg{display:inline-block;font-size:17px;font-weight:500;padding:10px 25px!important}.dark-list li,.primary-list li{font-size:14px;font-weight:500;margin-top:10px;list-style-type:none}.primary-button{position:relative;background:#2578ff;color:#fff;padding:11px 17px;-webkit-transition-duration:.3s;transition-duration:.3s}.primary-button:hover{border-color:#1c2330;color:#fff;background:#1c2330}.dark-button{position:relative;background:#1c2330;border:2px solid #1c2330;border-radius:5px;color:#fff;padding:10px 15px;-webkit-transition-duration:.3s;transition-duration:.3s}.dark-list,.primary-list{padding-left:0}.dark-button:hover{border-color:#2578ff;color:#fff;background:#2578ff}.primary-list li{color:#979797}.primary-list li i{color:#2578ff;padding-right:15px}.dark-list li{color:#979797}.dark-list li i{color:#252525;padding-right:15px}.primary-color h1,.primary-color h2,.primary-color h3,.primary-color h4,.primary-color h5,.primary-color h6,.primary-color i,.primary-color p,.primary-color span{color:#2578ff!important}.dark-color h1,.dark-color h2,.dark-color h3,.dark-color h4,.dark-color h5,.dark-color h6,.dark-color i,.dark-color p,.dark-color span{color:#3c59b3!important}.video-box-button button,.video-play-button{color:#fff;border-radius:50%;-webkit-transition-duration:.3s}.video-block-parallax{background-size:cover;background-attachment:fixed;background-position:50% 50%;padding:70px 0}.video-button{text-align:center}.video-play-button{display:inline-block;font-size:15px;background:#3c59b3;background:-moz-linear-gradient(left,rgba(60,89,179,1) 0,rgba(56,208,197,1) 100%);background:-webkit-linear-gradient(left,rgba(60,89,179,1) 0,rgba(56,208,197,1) 100%);background:linear-gradient(to right,rgba(60,89,179,1) 0,rgba(56,208,197,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c59b3', endColorstr='#38d0c5', GradientType=1 );width:100px;height:100px;opacity:1;transition-duration:.3s}.video-box{position:relative;display:block;width:100%;height:auto}.video-box-overlay{position:absolute;top:0;bottom:0;left:0;right:0;height:100%;width:100%;opacity:1;transition:.5s ease}.video-box-button{position:absolute;overflow:hidden;top:50%;left:50%;-ms-transform:translate(-50%,-50%)}.video-box-button button{background:rgba(28,35,48,.85);width:90px;height:90px;padding:30px;transition-duration:.3s}.video-box-button button:hover{color:rgba(28,35,48,.85);background:rgba(255,255,255,.75)}.paginator{display:inline-block;border:2px solid #f1f1f1;border-radius:10px;font-size:15px;font-weight:600;width:40px;height:40px;color:#255;background:#fff;padding:6px 15px 10px 14px;margin:3px}.active-page,.paginator:focus,.paginator:hover{color:#fff;background:#2578ff}.primary-form input,.primary-form textarea{color:#424040;font-size:14px;font-weight:500;border-radius:5px;border:1px solid #eee;width:100%;margin-top:30px;padding:11px 15px;-webkit-transition-duration:.3s;transition-duration:.3s}#search-input{border:1px solid #f1f1f1;border-radius:10px;background-color:#fff;padding:3px}#search-input input{border:0;border-radius:10px;box-shadow:none}#search-input button{margin:2px 0 0;background:0 0;box-shadow:none;border:0;outline:0!important;color:#2578ff;padding:0 11px 0 13px;border-left:solid 1px #ccc}#search-input button:hover{border:0;box-shadow:none;border-left:solid 1px #ccc}#search-input .glyphicon-search{font-size:13px}.project-item{position:relative;overflow:hidden;width:100%;border-radius:5px;margin:15px 0}.project-item img{display:block;width:100%;height:100%;object-fit: cover;}.project-item-overlay{position:absolute;top:0;bottom:0;left:0;right:0;height:100%;width:100%;opacity:0;z-index:999;transition:.5s ease;background:rgba(28,35,48,.7)}.project-item:hover .project-item-overlay{opacity:1}.project-item:hover img{filter:blur(3px)}.project-item-content{position:absolute;bottom:30px;left:30px}@media screen and (max-width:767px){.project-item-content{position:absolute;bottom:15px;left:15px}}.section-team,.team-img{position:relative;overflow:hidden}.project-item-content h5{font-size:18px;font-weight:500;color:#fff}.project-item-content a{display:inline-block;float:right;margin-right:40px;font-size:14px;font-weight:500;color:#fff;border:2px solid #fff;border-radius:5px;margin-top:20px;padding:10px 15px}.project-item-content a:hover{background:#2578ff;border-color:#2578ff}.project-detail img{width:100%;height:500px;border-radius:5px;margin-bottom:30px}.project-detail h4{font-size:25px;font-weight:500;color:#1C2330;margin-top:15px}.project-detail h4:after{content:'';display:block;border-bottom:2px solid #2578ff;width:100px;padding-top:12px}.blog-grid img,.blog-list-left img,.team-img,.team-img img{width:100%}.project-detail p{font-size:15px;font-weight:500;line-height:160%;color:#979797;margin-top:15px}.testmonial-item{background:#fff;border-radius:5px;text-align:center;-webkit-box-shadow:0 5px 28px 0 rgba(50,50,50,.1);-moz-box-shadow:0 5px 28px 0 rgba(50,50,50,.1);box-shadow:0 5px 28px 0 rgba(50,50,50,.1);padding:50px 100px;margin:20px}@media screen and (max-width:991px){.testmonial-item{padding:30px;margin:15px}}.testmonial-item p{font-size:15px;font-weight:400;line-height:180%;color:#979797}.testmonial-item h4{font-size:22px;font-weight:400;color:#1c2330;margin-bottom:20px}.testmonial-item-raiting i{color:#ffc527;font-size:18px;margin-top:20px}.section-team{background:#fff;border:1px solid #e9e9e9;border-radius:5px;margin:15px 0}.team-img{border-bottom:1px solid #e9e9e9;display:block;border-top-left-radius:5px;border-top-right-radius:5px}.section-team:hover .team-img img{filter:blur(5px)}.overlay-team-img{position:absolute;bottom:0;left:0;right:0;background:rgba(28,35,48,.65);overflow:hidden;width:100%;height:100%;opacity:0;-webkit-transition-duration:.5s;transition-duration:.5s}.error,.team-img ul{left:50%;overflow:hidden}.section-team:hover .overlay-team-img{opacity:1}.team-img ul{list-style-type:none;position:absolute;top:80%;-ms-transform:translate(-50%,-50%);padding-left:0}.big-product-overlay i,.error{transform:translate(-50%,-50%)}.team-img ul li{display:inline-block;padding:7px}.team-img ul li a{color:#fff;font-size:17px}.team-img ul li a:hover{color:#2578ff}.section-team-text{text-align:center;padding:15px 30px 10px}.section-team-text h4{font-size:17px;color:#1C2330;margin:10px 0 15px}.section-team-text span{border-radius:5px;background:#2578ff;font-size:13px;font-weight:500;color:#fff;padding:3px 10px}.section-team-text p{color:#979797;font-size:15px;font-weight:400;line-height:170%;margin-top:30px}.pricing-list{overflow:hidden;border:1px solid #eee;border-radius:10px;-webkit-transition:.3s;transition:.3s}.pricing-list:hover{margin-top:-10px}.pricing-top{background:#f1f1f1;text-align:center}.pricing-top h4{color:#000;font-size:14px;font-weight:500;text-transform:uppercase;padding:7px}.pricing-digits{background:#f7f7f7;text-align:center;padding:5px 0}.pricing-digits span{font-size:17px;color:#2578ff}.pricing-digits h2{display:inline-block;font-size:45px;color:#2578ff;font-weight:500;margin:10px 0}.pricing-digits p{font-size:14px;color:#979797}.option-list{background:#fff;text-align:center}.option-list ul{padding-left:0}.option-list ul li{color:#979797;padding:20px 0 10px;border-bottom:1px solid #f1f1f1}.pricing-button{text-align:center;margin:30px 0}.pricing-button a{border:2px solid #eee;border-radius:10px;color:#2578ff;font-size:15px;font-weight:600;padding:8px 30px;-webkit-transition-duration:.3s;transition-duration:.3s}.pricing-button a:hover{color:#fff;background:#2578ff;border:2px solid #2578ff}.pricing-premium{background:#2371F0;text-align:center}.pricing-premium h4{color:#fff;font-size:14px;font-weight:600;text-transform:uppercase;padding:7px}.premium-digits{background:#2578ff;text-align:center;padding:5px 0}.premium-digits span{font-size:17px;color:#fff}.premium-digits h2{display:inline-block;font-size:45px;color:#fff;font-weight:500;margin:10px 0}.premium-digits p{font-size:14px;color:#fff}.pricing-button-premium{text-align:center;margin:30px 0}.pricing-button-premium a{border:2px solid #2578ff;border-radius:10px;color:#fff;background:#2578ff;font-size:15px;font-weight:600;padding:8px 30px;-webkit-transition-duration:.3s;transition-duration:.3s}.btn-download,.services-nav ul li a{display:block;font-size:14px;font-weight:600}.pricing-button-premium a:hover{color:#2578ff;background:#fff;border:2px solid #eee}.certificates img{border-radius:5px;background:rgba(255,255,255,.1);padding:20px}.services-nav{position:relative;overflow:hidden;border-radius:10px}.services-nav ul{margin-bottom:0;padding-left:0}.services-nav ul li{list-style-type:none;display:block;background:#f7f7f7}.services-nav ul li a{color:#252525;padding:15px 30px 15px 15px;border-bottom:2px solid #fff}.services-nav ul li:hover a{background:#1c2330;color:#fff}.services-nav-active a{background:#1c2330;color:#fff!important}.btn-download{border-radius:10px;border:2px solid #f1f1f1;color:#3b3b3b;margin:10px 0;padding:15px}.btn-download:hover{color:#fff;border-color:#2578ff;background:#2578ff}.feature-box{display:inline-block;padding:20px}.feature-box-right-info{border-radius:5px;background:#fff;text-align:center;padding:20px;margin:15px 0;-webkit-transition-duration:.3s;transition-duration:.3s}.feature-box-right-info i{color:#2578ff;font-size:40px;margin:0 auto;-webkit-transition-duration:.3s;transition-duration:.3s}.feature-box-right-info:hover{-webkit-box-shadow:7px 9px 22px 0 rgba(50,50,50,.05);-moz-box-shadow:7px 9px 22px 0 rgba(50,50,50,.05);box-shadow:7px 9px 22px 0 rgba(50,50,50,.05)}.feature-box-right-info:hover i{color:#252525}.feature-box-right-info h4{color:#252525;font-size:18px;font-weight:400;margin:15px 0 10px}.feature-box-right-info p{color:#979797;font-size:13px}.blog-grid{overflow:hidden;border:1px solid #eee;border-radius:5px;margin:15px 0;-webkit-box-shadow:7px 9px 22px 0 rgba(50,50,50,.05);-moz-box-shadow:7px 9px 22px 0 rgba(50,50,50,.05);box-shadow:7px 9px 22px 0 rgba(50,50,50,.05);-webkit-transition-duration:.3s;transition-duration:.3s}.blog-grid-button a,.blog-grid-content h4 a{-webkit-transition-duration:.3s;font-weight:500}.blog-grid:hover{-webkit-box-shadow:7px 9px 22px 0 rgba(50,50,50,.1);-moz-box-shadow:7px 9px 22px 0 rgba(50,50,50,.1);box-shadow:7px 9px 22px 0 rgba(50,50,50,.1)}.blog-grid-content{padding:30px 25px}.blog-grid-content h4{margin:0 0 10px}.blog-grid-content h4 a{color:#1C2330;font-size:20px;transition-duration:.3s}.blog-grid-content h4 a:hover{color:#2578ff}.blog-grid-content span{color:#999;font-size:13px;font-weight:500}.blog-grid-content p{color:#979797;font-size:14px;font-weight:500;line-height:170%;border-bottom:1px solid #eee;padding-bottom:15px;margin:15px 0 25px}.blog-grid-button a{position:relative;display:inline-block;font-size:13px;background:#2578ff;border-radius:5px;color:#fff;padding:11px 17px;transition-duration:.3s}.blog-grid-button a:hover{background:#1c2330;color:#fff}.blog-list-left{position:relative;border:1px solid #e9e9e9;border-radius:10px;font-size:15px;background:#fff;overflow:hidden;margin-bottom:50px}.blog-post-left,.contact-left-side{position:relative;border-radius:10px}.blog-list-left h4{font-size:26px;font-weight:500;color:#1C2330;margin-top:20px}.blog-list-left p{font-size:14px;line-height:180%;font-weight:500;color:#979797;margin-top:20px}.blog-list-info{padding:20px}.blog-list-icon{list-style-type:none;padding:0;margin-top:10px}.blog-list-icon li{display:inline-block;margin-right:25px}.blog-list-icon li i{color:#2578ff}.blog-list-icon span{color:#979797;padding-left:10px}.blog-list-bottom{border-top:1px solid #e9e9e9;padding-top:15px;margin-top:40px}.blog-post-right h5{color:#1C2330;font-size:20px;margin:40px 0 25px}.blog-post-right h5:after{display:block;content:"";width:25%;border-bottom:1.5px solid #2578ff;padding-bottom:10px}.blog-post-right button{background:#2578ff;-webkit-transition-duration:.3s;transition-duration:.3s}.blog-post-right button:hover{background:#1C2330}.latest-posts{margin-top:20px}@media (max-width:767px){.latest-posts-text{margin-top:10px}.blog-post-left{margin-top:20px}}.latest-posts-text a{display:block;font-size:15px;font-weight:600;color:#1C2330;margin-bottom:10px;-webkit-transition-duration:.3s;transition-duration:.3s}.latest-posts-text span{font-size:14px;color:#2578ff}.blog-categories ul{margin-top:20px;padding:0}.blog-categories ul li{list-style-type:none;border-bottom:1px solid #f1f1f1}.blog-categories ul li a{display:block;color:#1C2330;font-size:15px;font-weight:500;padding:15px 0}.blog-categories ul li a:after{content:"\f178";font-size:15px;font-weight:400;float:right;font-family:FontAwesome;color:#2578ff}.blog-categories ul li a:hover{color:#2578ff}.blog-share{list-style-type:none;margin-top:20px}.blog-share ul{border-bottom:1px solid #e9e9e9;padding:10px 0}.blog-share ul li{display:inline-block;padding-right:25px}.blog-share ul li a{color:#2578ff;font-size:15px}.blog-share ul li a:hover{color:#1C2330}.blog-post-left{font-size:15px;background:#fff;overflow:hidden;margin-bottom:50px}.blog-post-left img{width:100%}.blog-post-info{padding-right:20px}.blog-post-left h4{font-size:26px;font-weight:500;color:#1C2330;margin:20px 0}.blog-post-left ul{list-style-type:none;margin-bottom:30px}.blog-post-left li{display:inline-block;margin-right:25px}.blog-post-left li i{color:#2578ff}.blog-post-left span{color:#979797;padding-left:10px}.blog-post-left p{font-size:14px;line-height:180%;font-weight:500;color:#979797;margin-top:15px}blockquote{border-left:0;margin-top:20px;margin-bottom:30px;padding:0}.blockquote-icon-holder{text-align:center;padding-top:35px}.blockquote i{color:#2578ff;font-size:38px;padding-top:10px}.blockquote p{color:#797979;font-size:18px;font-weight:500;line-height:170%}@media (max-width:767px){.blog-post-info{padding-right:0}}.contact-left-side{background:transparent;padding:0}.contact-box-full{padding:30px 0;-webkit-transition-duration:.3s;transition-duration:.3s}.contact-box-full:hover{border-bottom:none}.contact-icon{float:left;width:25%;text-align:center}.contact-icon i{color:#2578ff;font-size:20px;border:1px solid #2578ff;border-radius:50px;padding:13px 15px 13px 14px;width:50px;height:50px;-webkit-transition-duration:.3s;transition-duration:.3s}.contact-box-full:hover .contact-icon i{background:#2578ff;color:#fff}.contact-box-full:hover i{border:2px solid #2578ff;color:#2578ff}.contact-info{float:left;width:75%}.contact-info h5{font-size:17px;font-weight:600;color:#1C2330;margin-bottom:5px}.contact-info p{font-size:14px;font-weight:600;color:#979797;margin:10px 0 3px}.contact-right-side h2{font-size:22px;font-weight:400;color:#1C2330;line-height:150%;margin-bottom:15px}.contact-right-side h2:after{content:'';display:block;border-bottom:2px solid #2578ff;width:100px;padding-top:15px}.contact-form input,.contact-form textarea{color:#1C2330;font-size:14px;font-weight:500;border-radius:5px;border:.5px solid #eee;width:100%;margin:15px 0;padding:12px 15px;-webkit-transition-duration:.3s;transition-duration:.3s}.contact-form input:focus{border-color:#2578ff}.contact-form textarea{min-height:150px}.contact-form textarea:focus{border:1px solid #2578ff}#map{padding-bottom:20px}#map iframe{height: 270px;width:100%}.error-bg{width:100%;height:100%;background-size:cover}.error{text-align:center;position:absolute;top:50%}.error h1{font-size:180px;font-weight:600;background:-webkit-linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,.7));-webkit-background-clip:text}.error h2{font-size:30px;background:-webkit-linear-gradient(rgba(255,255,255,.6),rgba(255,255,255,.2));-webkit-background-clip:text}.error h4{background:-webkit-linear-gradient(rgba(255,255,255,.6),rgba(255,255,255,.2));-webkit-background-clip:text;font-size:20px;margin:20px 0 0}@media screen and (max-width:767px){.error h1{font-size:100px}.error h2{font-size:25px}.error h4{font-size:18px}}.product-box{overflow:hidden;background:#fff;border-radius:10px;margin-bottom:30px;-webkit-transition-duration:.3s;transition-duration:.3s}.product-box:hover{}.product-img{border-bottom:1px solid #f1f1f1;width:100%}.product-img img{width:100%}.product-info{padding:20px}.product-info h4{margin-bottom:15px}.product-info h4 a{font-size:17px;font-weight:500;color:#1C2330}.product-info h4 a:hover{color:#2578ff}.product-info span{font-size:15px;color:#333;margin-right:20px;text-decoration:line-through}.product-info strong{color:#2578ff}.sali{border-top:1px solid #f1f1f1;margin-top:15px;padding-top:5px}.sali button{font-size:14px;font-weight:600;color:#1C2330;margin-top:15px;-webkit-transition-duration:.3s;transition-duration:.3s}.sali button:hover{color:#2578ff}.sali button i{margin-right:15px;color:#2578ff}.shop-category-list{position:relative;overflow:hidden;border-radius:10px}.shop-category-list ul{margin-bottom:0;padding-left:0}.shop-category-list ul li{list-style-type:none;display:block;background:#f7f7f7}.shop-category-list ul li a{display:block;font-size:14px;font-weight:600;color:#1C2330;padding:15px 30px 15px 15px;border-bottom:2px solid #fff}.shop-active-link a,.shop-category-list ul li:hover a{color:#fff!important;background:#1c2330}.product-page-img{position:relative;overflow:hidden;border:1px solid #f1f1f1}.product-small{width:33.45%;border:1px solid #f1f1f1;margin-right:-4px}.product-page-text h2{font-size:22px;font-weight:600;color:#333}.product-page-text i{color:#ffc527;font-size:15px;margin-top:15px}.product-rating{display:inline-block;margin-right:20px}.product-page-text span{font-size:15px}.product-page-text p{font-size:15px;color:#979797;margin-top:20px}.product-page-text h5{font-size:16px;color:#333;margin-top:20px}.product-number{position:relative;color:#333;margin-top:5px}.product-number input{text-align:center;font-size:16px;display:block;border:1px solid #333;border-radius:5px;width:55px;height:45px;padding:0 10px;margin-top:15px}.product-page-text h3{font-size:25px;font-weight:600;color:#333;margin-top:15px}.product-number-nav{float:left;position:relative;height:43px}.product-number-button{position:relative;cursor:pointer;border-left:1px solid #1c303e;width:22px;text-align:center;color:#333;font-size:14px;font-weight:400;line-height:175%;-webkit-transform:translateX(-100%);transform:translateX(-100%);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;-webkit-transition-duration:.3s;transition-duration:.3s}.com-text a,.tab-menu li i{-webkit-transition-duration:.3s}.product-number-button:hover{color:#ffc527}.product-number-button.product-number-up{position:absolute;height:55%;top:0;border-bottom:1px solid #333}.product-number-button.product-number-down{position:absolute;bottom:-1px;height:50%}.com-img img{width:100px;border-radius:50%;margin-bottom:15px}.com-text{padding:15px;border:.5px solid #f1f1f1;border-radius:10px}.com-text h4{display:inline-block;color:#333;font-size:17px;font-weight:500;margin-right:30px}.com-text a{font-size:14px;color:#979797;transition-duration:.3s}.com-text a:hover{color:#ffc527;transform:scale(1.3)}.com-text p,.com-text span{color:#979797;font-size:14px}.com-text span{float:right;margin-right:30px}.com-text p{margin-top:15px;line-height:150%;font-weight:500}.big-product-overlay{position:absolute;top:0;bottom:0;left:0;right:0;height:100%;width:100%;opacity:0;transition:.5s ease;background:rgba(37,120,255,.4)}.custom-progress,.dark-bar,.primary-bar{height:6px;box-shadow:none}.product-page-img:hover .big-product-overlay{opacity:1}.big-product-overlay i{color:#fff;font-size:50px;position:absolute;top:50%;left:50%;-ms-transform:translate(-50%,-50%)}.circliful,.tab-menu{position:relative}.tab-menu{padding:0 15px 15px 0}.tab-menu li{display:inline-block;background:0 0;width:150px;border-radius:10px;margin:0 10px}.tab-menu li a{color:#1c303e;display:block;font-size:16px;font-weight:600;text-decoration:none;border-bottom:1.5px solid #1c303e;padding:10px 5px}.tab-menu li i{color:#3c59b3;display:block;font-size:40px;text-align:center;margin-bottom:15px;transition-duration:.3s}.tab-menu li:hover a,.tab-menu li:hover i{color:#1c303e}.active-tab a,.active-tab a i{color:#2578ff!important}.active-tab a{border-bottom:1.5px solid #2578ff!important}@media screen and (max-width:767px){.tab-menu{display:block;padding-right:0;text-align:center}.tab-menu li{display:block;width:100%;padding:5px 0;margin-right:0;margin-left:0}}.circle-container,.circliful,.circliful span{width:auto!important}.progress-text{font-size:13px;font-weight:600;color:#333;margin-bottom:10px}.custom-progress{background:#f7f7f7}.primary-bar{background-color:#2578ff}.dark-bar{background-color:#1c2330}.circle-container{display:block;margin:125px 0 25px;text-align:center}.circle-container h5{display:block;text-align:center;font-size:17px;font-weight:500;color:#fff}.circle-container h2{display:block;text-align:center;font-size:20px;font-weight:500;color:#fff}.circle-container h4{position:relative;font-size:40px;font-weight:500;color:#fff;z-index:999;margin-bottom:-160px}.circle-info,.circle-info-half,.circle-text,.circle-text-half{width:100%;position:absolute;text-align:center;display:inline-block;left:40%}.circle-info,.circle-info-half{color:#999}.circliful .fa{margin:-10px 3px 0;position:relative;bottom:4px}.accordion{background:#fff!important;box-shadow:none;border:none}.accordion-heading{border-radius:0;padding:0;background:#fff!important}.accordion-title .collapsed,.accordion-title a{font-size:14px;font-weight:600;display:block;border-bottom:1px solid #f7f7f7;border-radius:10px;padding:15px 20px}.accordion-title a{background:#2578ff;color:#fff}.accordion-title .collapsed{background:#f7f7f7;color:#333}.accordion-title .collapsed:before,.accordion-title a:before{font-weight:700;font-size:13px;padding-right:15px;font-family:FontAwesome}.accordion-title a:before{content:'\f107';color:#fff}.accordion-title .collapsed:before{content:'\f105';color:#333}.accordion-body{font-size:14px;font-weight:500;color:#979797;line-height:180%;border:none!important}.footer-contact li i,.scroll-to-top{height:60px;border-radius:50%;color:#fff;text-align:center}.scroll-to-top{font-size:25px;font-weight:600;line-height:26px;padding:16px;text-decoration:none;position:fixed;bottom:10px;right:10px;display:none;background:#2578ff;width:60px;z-index:9999;outline:0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease}.scroll-to-top i{color:#fff}.scroll-to-top:hover{color:#fff;background:#1c2330}.scroll-to-top:hover i{color:#fff}.scroll-to-top:visited{color:#fff;text-decoration:none}#footer{background:#1c2330;padding:60px 0}#footer h2:after,.footer-logo:after{content:'';border-bottom:2px solid #2578ff;width:100px;padding-top:15px;display:block}#footer h2{font-size:22px;font-weight:400;color:#fff;line-height:150%;margin-bottom:15px}@media screen and (max-width:767px){#footer h2{margin-top:30px}}.footer-logo{position:relative;margin-bottom:5px}.footer-contact{padding-left:0}.footer-contact li{list-style-type:none;color:#fff;font-size:14px;font-weight:500;margin-top:15px}.footer-contact li i{width:40px;padding:13px 15px 15px 14px;background:#242b3a;margin-right:15px}.footer-text p{font-size:15px;font-weight:500;color:#fff;line-height:180%;margin-bottom:15px}.footer-list{padding-left:0}.footer-list li{list-style-type:none;display:block;padding-top:15px}.footer-list li:before{content:'\f178';font-family:FontAwesome;color:#2578ff;font-size:16px;padding-right:15px}.footer-list li a{color:#fff;font-size:14px;font-weight:500}.footer-list li a:hover{color:#2578ff}.footer-form input,.footer-form textarea{background:#fff;color:#333;font-size:13px;font-weight:600;border:none;border-bottom:1px solid #eee;width:100%;border-radius:5px;margin-top:30px;padding:11px 15px;-webkit-transition-duration:.3s;transition-duration:.3s}.footer-form input:focus,.footer-form textarea:focus{background:#f9f9f9;border-color:#2578ff}.footer-form textarea{min-height:100px}.footer-bar{text-align:center;background:rgb(0,0,0);padding:7px 0}.footer-bar span{color:#fff;font-size:14px;font-weight:500} .footer-bar a{display: inline-block}.project-fix{height: 240px;}
